*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

input[type="file"] {
    display: none;
}

.btn-group-vertical button {
     height: 45px;
}


.btn-group-vertical i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-control-label {
    bottom: 15px;
}

#slider {
    position: absolute;
    bottom: 10px;
}

#box1 {
    float: left;
    width: 180px;
}

#box2 {
    float: left;
    width: 40px;
}

#box3 {
    float: left;
    padding: 6px;
}

#box4 {
    float: left;
    padding: 6px;
}

#box5 {
    float: left;
    padding: 15px;
}

#uploadButt {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    margin-left: 100px;
    margin-top: 70px;
}

#tooltop {
    width: 100%;
    height: 70px;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #2f2f2f;
    color: white;
    left: 100px;
}

#toolside {
    width: 100px;
    height: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #2f2f2f;
    color: white;
}

#color-input {
    display: none;
}

#color-label {
    margin-left: 15px;
    position: absolute;
    height: 30px;
    width: 50px;
} 
#color-input:checked ~ #color-picker {
    opacity: 1;
}

#color-picker {
    position: absolute;
    left: -400px; 
    background-color: white;
    height: 165px;
    width: 200px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
}

#zoom{
    border:1px black solid;
    box-shadow: 5px 5px 10px #1e1e1e;
 }